:root {
  font: 16px / 1 monospace;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: lightblue;
}

.main {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
}

h1 {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  text-shadow: darkviolet 0.3rem 0.3rem;
}

.subtitle {
  text-align: center;
  justify-content: right;
  font-family: 'Permanent Marker', cursive;
  font-size: x-large;
}

article {
  display: flex;
  flex-wrap: wrap;
  max-width: 49%;
}

img {
  margin: auto;
  margin-top: 1rem;
  box-shadow: darkviolet -0.3rem 0.3rem;
  border: medium solid black;
  max-height: 80%;
}

section {
  max-width: 60%;
  margin: auto;
  margin-top: 0;
}

h2 {
  padding: 0.5rem;
  border: medium black solid;
  text-align: center;
  margin-top: 1rem;
  box-shadow: darkviolet 0.3rem -0.3rem;
  background-color: pink;
}

p {
  padding: 0.5rem;
  max-height: min-content;
  border: medium solid black;
  box-shadow: darkviolet 0.3rem 0.3rem;
  background-color: pink;
}

@media screen and (max-width: 1000px) {
  article {
    max-width: 100%;
  }
}

@media screen and (max-width: 550px) {
  article {
    max-height: 20%;
  }
  img {
    max-width: 30%;
  }
}
